# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.parc
*.ignore
*.Plo
*.dirstamp
*.mak

# Folders
/debug/*
/release/*
/parasol-*/

/scripts/package.dml
/scripts/registermodule.fluid
/install/
/packages/
/extras/
/data/scripts/pl/
/examples/svg/w3c/
/examples/svg/

/core/android
/core/3rdparty/openssl-*/
/3rdparty/zlib-*/
/examples/test.fluid
.idea/
/core/modules/fluid/luajit-*/doc
/core/modules/fluid/luajit-2.0.*/src/lj_bcdef.h
/core/modules/fluid/luajit-2.0.*/src/lj_ffdef.h
/core/modules/fluid/luajit-2.0.*/src/lj_folddef.h
/core/modules/fluid/luajit-2.0.*/src/lj_libdef.h
/core/modules/fluid/luajit-2.0.*/src/lj_recdef.h
/core/modules/fluid/luajit-2.0.*/src/lj_vm.s
/core/modules/fluid/luajit-2.0.*/src/luajit
/core/modules/fluid/luajit-2.0.*/src/host/buildvm
/core/modules/fluid/luajit-2.0.*/src/host/buildvm_arch.h
/core/modules/fluid/luajit-2.0.*/src/host/minilua
/core/modules/fluid/luajit-2.0.*/src/jit/vmdef.lua
/svg/
core/modules/fluid/libffi-3.3/
debug-install/
local/
