# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.parc
*.ignore
*.Plo
*.dirstamp
*.mak

# Folders
.*/
/debug/*
/release/*
/parasol-*/
/visual-studio/

/install/
/packages/
/extras/
/data/scripts/pl/

/3rdparty/zlib-*/
.idea/
debug-install/
local/
src/android/
src/fluid/libffi-3.3/
src/fluid/luajit-2.1/doc/
src/fluid/luajit-2.1/src/lj_bcdef.h
src/fluid/luajit-2.1/src/lj_ffdef.h
src/fluid/luajit-2.1/src/lj_folddef.h
src/fluid/luajit-2.1/src/lj_libdef.h
src/fluid/luajit-2.1/src/lj_recdef.h
src/fluid/luajit-2.1/src/luajit
src/fluid/luajit-2.1/src/host/buildvm
src/fluid/luajit-2.1/src/host/buildvm_arch.h
src/fluid/luajit-2.1/src/host/minilua
src/fluid/luajit-2.1/src/jit/vmdef.lua
release-git/
src/display/simd/
data/fonts/truetype/NotoColorEmoji.ttf
build/
debug-gdb/
debug-mod/
local-mod/
local-gdb/
out/
3rdparty/blend2d/
3rdparty/blend2d-apps/
local-claude/
CLAUDE.local.md
msys-debug/
msys-release/
src/link/parasol.manifest
src/link/resource.rc
data/ssl/localhost.p12
data/ssl/localhost.pem
