<?xml version="1.0" encoding="UTF-8"?>
<ai:cl xmlns:ai="http://parasol-framework.org/ai-docs" n="Module" mod="Core" c="Manages the loading of system libraries." cat="System" id="0e32c72b" v="1">
  <ai:m n="ResolveSymbol" c="Resolves library symbol names to their address pointers." p="ERR mod::ResolveSymbol(OBJECTPTR Object, CSTRING Name, APTR * Address)">
    <ai:i n="Name" t="CSTRING" c="The name of the symbol to resolve."/>
    <ai:i n="Address" t="APTR *" c="The address of the symbol will be returned in this parameter."/>
    <ai:e c="Okay"/>
    <ai:e c="NotFound"/>
    <ai:e c="NoSupport"/>
    <ai:e c="FieldNotSet"/>
    <ai:e c="NullArgs"/>
  </ai:m>
  <ai:f n="Flags" c="Optional flags." t="MOF" a="RI"/>
  <ai:f n="FunctionList" c="Refers to a list of public functions exported by the module." t="const struct Function *" a="RW"/>
  <ai:f n="ModBase" c="The Module's function base (jump table) must be read from this field." t="APTR" a="R"/>
  <ai:f n="Name" c="The name of the module." t="STRING" a="GS"/>
</ai:cl>
