#include <windows.h>

// Application Icon
500                     ICON    DISCARDABLE     "parasol_sphere.ico"

// Application Manifest
1                       RT_MANIFEST             "parasol.manifest"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     2025,8,1,0
PRODUCTVERSION  2025,8,1,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English, Unicode
        BEGIN
            VALUE "CompanyName",      "Parasol Framework"
            VALUE "FileDescription",  "Parasol Vector Graphics Framework"
            VALUE "FileVersion",      "2025.8.1.0"
            VALUE "InternalName",     "parasol"
            VALUE "LegalCopyright",   "Copyright (C) 2025 Parasol Framework"
            VALUE "OriginalFilename", "parasol.exe"
            VALUE "ProductName",      "Parasol Framework"
            VALUE "ProductVersion",   "2025.8.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 // US English, Unicode
    END
END
