@import url('bootstrap-icons.min.css');
body {
  padding-top: 4em;
}
.starter-template {
  padding: 40px 15px;
}
.borderless td, .borderless th {
  border: none !important;
}
.docs-content {
  padding-top: 1em;
}
.docs-content > h3 { /* Styling for Description, Results etc */
  padding-bottom: .25em;
  margin: 1em 0 0.5em;
  border-bottom: 2px solid #d0d0d0;
}
.func-header { /* Styling for function headers */
  font-size: 30px;
  font-weight: 600;
  padding-bottom: .25em;
  margin: 1em 0 0.5em;
  border-bottom: 2px solid #d0d0d0;
}
.sub-header { # Styling for Action and Method internal headers
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: .25em;
  margin: 1em 0 0.5em;
  border-bottom: 2px solid #d0d0d0;
}
.card-header > a {
   color: #ffffff;
   text-decoration:none;
}
.card-link {
   color: #0000d0;
   text-decoration:none;
}
.card-link:hover {
   color: #0000d0;
   text-decoration:underline;
}
.badge {
   color: #404040;
   background-color: #ffffff;
   display:inline-block;
   width:2.5em;
}
.nav-classes {
   background-color: #707080;
}
.nav-functions {
   background-color: #337AB7;
}
.nav-constants {
   color: #00ff00;
   background-color: #DFF0D8;
}
.action-header {
   color: #ffffff;
   background-color: #505050;
}
.class-list {
  padding-left: 1em;
}
.class-list > li {
  list-style-type: none;
}
.class-list > li > a {
  text-decoration:none;
}
.lead {
  margin-bottom: 30px;
}
pre {
  border: 1px solid #d0d0d0;
  border-radius: .5em;
  background-color: #f0f0f0;
  margin: 1em 1em 1em;
  padding: 1em;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
.table {
  border-top: 2px;
}
.table tr:last-child {
  border: 0px solid rgba(0,0,0,0);
}
thead {
  border-bottom-width: 2px;
}
th { font-weight:600; }
.copyright {
  border-top: 1px solid #d0d0d0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 8px;
  font-size: 66%;
}
.hiddenRow {
  padding: 0 !important;
}
.table-hover > tbody > tr.no-hover:hover > td,
.table-hover > tbody > tr.no-hover:hover > th {
    background-color: #fff;
}
